header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1F2937;
}

header ul {
    display:flex;
    margin: 0;
    padding:0;
    gap: 16px;
    list-style-type: none;
}

header a {
    text-decoration: none;
    color: #F9FAF8;
}

.logo {
    font-size: 24px;
}

.section-one {
    display: flex;
    flex: 1 1 0;
    justify-content: center;
    align-items: center;
}

.img {
    background-color: grey;
    color: #F9FAF8;
    text-align: center;
    
}